<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onemm.business.mapper.real.BlockUserMapper">

    <insert id="addBlockUser" parameterType="BlockUser" useGeneratedKeys="true" keyProperty="id">
        insert into onemm.block_user(user_id, block_user_id)
        values (#{userId}, #{blockUserId})
    </insert>
</mapper>