<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onemm.business.mapper.real.DBMapper">

    <insert id="saveStore" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into onemm.store(name, address, tel, homepage)
        values
        <foreach collection="storeList" item="item" separator=",">
            (#{item.name}, #{item.address}, #{item.tel}, #{item.homepage})
        </foreach>
    </insert>

    <select id="getFacility" resultType="Facility">
        select *
        from onemm.facility
    </select>

    <select id="getCategory" resultType="Category">
        select *
        from onemm.category
    </select>

    <insert id="saveStoreFacility" parameterType="java.util.List">
        insert into onemm.store_facility(store_id, facility_id)
        values
        <foreach collection="storeFacilityList" item="item" separator=",">
            (#{item.storeId}, #{item.facilityId})
        </foreach>
    </insert>

    <insert id="saveStoreCategory" parameterType="java.util.List">
        insert into onemm.store_category(store_id, category_id)
        values
        <foreach collection="storeCategoryList" item="item" separator=",">
            (#{item.storeId}, #{item.categoryId})
        </foreach>
    </insert>

    <insert id="saveMenu" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into onemm.menu(store_id, name, price)
        values
        <foreach collection="menuList" item="item" separator=",">
            (#{item.storeId}, #{item.name}, #{item.price})
        </foreach>
    </insert>

    <insert id="saveWorkDay" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into onemm.workday(store_id, day, time)
        values
        <foreach collection="workDayList" item="item" separator=",">
            (#{item.storeId}, #{item.day}, #{item.time})
        </foreach>
    </insert>
</mapper>
