<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onemm.business.mapper.real.LikeStoreMapper">

    <insert id="addLike" parameterType="LikeStore" useGeneratedKeys="true" keyProperty="id">
        insert into onemm.like_store(user_id, store_id, bool)
        values (#{userId}, #{storeId}, #{bool})
    </insert>

    <select id="getAllLikeByUser" resultType="Map">
        select ls.id,
               ls.user_id,
               ls.store_id,
               ls.bool,
               s.name           as store_name,
               s.average_rating as average_rating,
               c.name           as category
        from onemm.like_store ls
                 left join onemm.store s on ls.store_id = s.id
                 left join onemm.store_category sc on s.id = sc.store_id
                 left join onemm.category c on sc.category_id = c.id
        where user_id = #{userId}
        group by ls.store_id
    </select>

    <select id="getLikeByStore" resultType="LikeStore">
        select id, user_id, store_id, bool
        from onemm.like_store
        where user_id = #{userId}
          and store_id = #{storeId}
    </select>

    <delete id="deleteLike">
        delete
        from onemm.like_store
        where user_id = #{userId}
          and store_id = #{storeId}
    </delete>


</mapper>
