<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onemm.business.mapper.real.SearchMapper">

    <select id="searchStoreName" resultType="Map">
        select s.id,
               s.name,
               s.address,
               s.dong,
               group_concat(distinct c.name) as category,
               s.average_rating,
               (select count(id)
                from onemm.review
                where s.id = review.store_id
                group by review.store_id) as count
        from onemm.store s
            left join onemm.store_category sc
        on s.id = sc.store_id
            left join onemm.category c
            on c.id = sc.category_id
        where concat(s.name, s.dong) regexp #{name}
        group by s.id

    </select>

    <insert id="saveSearchRecord" parameterType="Search" useGeneratedKeys="true" keyProperty="id">
        insert into onemm.search(user_id, record)
        values (#{userId}, #{record})
    </insert>

    <select id="getSearchRecord" resultType="Map">
        select id, user_id, record
        from onemm.search
    </select>

    <delete id="deleteRecord">
        delete
        from onemm.search
        where id = #{id}
    </delete>
</mapper>