<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onemm.business.mapper.real.UserMapper">

    <insert id="saveUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into onemm.user(uid, name, photo_url, location)
        values (#{uid}, #{name}, #{photoUrl}, #{location})
    </insert>

    <select id="findUser" resultType="User">
        select id, uid, name, photo_url, s3, location
        from onemm.user
        where uid = #{uid}
    </select>

    <update id="updateUser">
        update onemm.user
        set user.photo_url = #{user.photoUrl},
            user.name      = #{user.name},
            user.location  = #{user.location},
            user.s3        = #{user.s3}
        where uid = #{uid}
    </update>

    <delete id="deleteUser">
        delete
        from onemm.user
        where user.id = #{id}
    </delete>

    <!-- 팔로우 -->
    <insert id="addFollow" parameterType="Follow" useGeneratedKeys="true" keyProperty="id">
        insert into onemm.follow(login_id, following_id)
        values (#{loginId}, #{followingId})
    </insert>

    <delete id="deleteThemeListLike">
        delete
        from onemm.like_theme_list
        where user_id = #{userId}
          and theme_id = #{themeId}
    </delete>

    <!--    나를 팔로우 하는사람-->
    <select id="getFollower" resultType="Map">
        select f.id,
               f.following_id,
               f.login_id,
               u.name                   as user_name,
               u.s3,
               IFNULL(u.photo_url, ' ') as photo_url
        from onemm.follow f
                 left join onemm.user u on u.id = f.login_id
        where f.following_id = #{loginId}
          and f.login_id not in (select block_user_id from onemm.block_user bu where bu.user_id = #{loginId})
        group by f.following_id, f.login_id
    </select>

    <!--    내가 팔로잉 하는사람 -->
    <select id="getFollowing" resultType="Map">
        select f.id,
               f.following_id,
               f.login_id,
               u.name                   as user_name,
               u.s3,
               IFNULL(u.photo_url, ' ') as photo_url
        from onemm.follow f
                 left join onemm.user u
                           on u.id = f.following_id
        where f.login_id = #{loginId}
          and f.following_id not in (select block_user_id from onemm.block_user bu where bu.user_id = #{loginId})
        group by f.following_id, f.login_id
    </select>

    <delete id="deleteFollow">
        delete
        from onemm.follow
        where login_id = #{loginId}
          and following_id = #{followingId}
    </delete>

    <select id="getFollowOne" resultType="Follow">
        select f.id,
               f.following_id,
               f.login_id
        from onemm.follow f
        where f.following_id = #{followingId}
          and f.login_id = #{loginId}
        group by f.following_id, f.login_id
    </select>

    <select id="getOtherUserInfo" resultType="User">
        select id, uid, name, photo_url, s3, location
        from onemm.user
        where id = #{id}
    </select>


</mapper>
